<div class="row">
  <div class="col-12">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Login">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Login</button> or <button type="submit" class="btn btn-outline-light">Sign In</button>
      </div>
    </form>
  </div>
</div>
