<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
  <ul class="navbar-nav mr-auto d-flex flex-row w-100 nav-justified">
    <!-- <li class="nav-item">
      <a href="" class="nav-link">
        <img src="https://via.placeholder.com/150x50" alt="Logo">
      </a>
    </li> -->

    <li class="nav-item">
      <a href="" class="nav-link">
        <img src="../assets/icons/Home.svg" alt="Home">
        <!-- Home -->
      </a>
    </li>

    <li class="nav-item">
      <a href="" class="nav-link">
        <img src="../assets/icons/Search.svg" alt="Search">
        <!-- Search -->
      </a>
    </li>

    <li class="nav-item">
      <a href="" class="nav-link">
        <img src="../assets/icons/Notification.svg" alt="Notification">
        <!-- Notifications -->
      </a>
    </li>

    <li class="nav-item">
      <a href="" class="nav-link">
        <img src="../assets/icons/Message.svg" alt="Messages" >
        <!-- Messages -->
      </a>
    </li>

    <!-- <li class="nav-item">
      <a href="" class="nav-link">
        <img src="https://via.placeholder.com/50" alt="Avatar" class="profile-avatar">
        {{username}}
      </a>
    </li> -->
  </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-7 col-md-8 col-lg-8">
      <app-post></app-post>
    </div>
    <div class="col-sm-5 col-md-4 col-lg-4">
      <app-user-tab></app-user-tab>
    </div>
  </div>
</div>
