<ng-container *ngFor="let data of displayData">
  <div class="row">
    <div class="col-12 center-block">
      <div class="liked user-data" *ngIf="liking">
        Liked by:
        <p class="username">{{liking}}</p>
      </div>
      <div class="user-data">
        <img src="https://via.placeholder.com/50" class="user-avatar" alt="Avatar">
        <p class="username h5">{{data.Username}}</p>
        <!-- Post options -->
        <div ngbDropdown class="d-inline-block post-opt">
          <button class="dropdown-btn" id="dropdownBasic1" ngbDropdownToggle>
            <img class="icons" src="../assets/icons/More.svg" alt="More">
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-options">
            <button ngbDropdownItem class="dropdown-item"><img class="icons" src="../assets/icons/Profile.svg" alt="Profile"> Go to profile</button>
            <button ngbDropdownItem class="dropdown-item"><img class="icons" src="../assets/icons/Bookmark.svg" alt="Bookmark"> Bookmark</button>
            <button ngbDropdownItem class="dropdown-item"><img class="icons" src="../assets/icons/Block.svg" alt="Block"> Block</button>
            <button ngbDropdownItem class="dropdown-item"><img class="icons" src="../assets/icons/Flagged.svg" alt="Report"> Report</button>
          </div>
        </div>
      </div>
      <div class="post">
        <div class="post-img">
          <img src="{{data.Image}}" class="mx-auto d-block"  alt="Post image load faild...">
        </div>
        <h4>{{data.Title}}</h4>
        <p class="post-text">
          {{data.PostContent}}
        </p>
        <p class="font-italic">{{data.Tag}}</p>
        <div class="post-actions">
          <ul>
            <li>
              <button>
                <img class="icons" src="../assets/icons/Comments.svg" alt="Comments">
              </button>
              {{data.Comments}}
            </li>
            <li>
              <button>
                <img class="icons" src="../assets/icons/Like.svg" alt="Likes">
              </button>
              {{data.Likes}}
            </li>
            <li>
              <button>
                <img class="icons" src="../assets/icons/Repost.svg" alt="Reposts">
              </button>
              {{data.Repost}}
            </li>
            <li>
              <!-- Share button -->
              <div ngbDropdown class="d-inline-block">
                <button class="dropdown-btn" id="dropdownBasic1" ngbDropdownToggle>
                  <img class="icons" src="../assets/icons/Share.svg" alt="Share">
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-options">
                  <!-- <button ngbDropdownItem class="dropdown-item"><img class="icons" src="../assets/icons/Logout.svg" alt="Logout"> Profile</button> -->
                  <button ngbDropdownItem class="dropdown-item"><img class="icons" src="../assets/icons/ShareLink.svg" alt="Share Link"> Share by link</button>
                  <button ngbDropdownItem class="dropdown-item"><img class="icons" src="../assets/icons/Share.svg" alt="Share with"> Share post with...</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr>
</ng-container>

<div class="row" style="margin-bottom: 80px;">
  <div class="col-12 center-block">
    <div class="dashboard-end">
      <img class="logo" src="./assets/icons/Logo.svg" alt="Arte Logo">
      <p class="h5">Sorry, there start your dashboard story.</p>
    </div>
  </div>
</div>
