<div class="row">
  <div class="col-12 dashboard">
    <!-- Profile name and banner -->
    <div class="row">
      <div class="col-12"><img class="profile-banner img-fluid" src="https://picsum.photos/seed/1223/600/200" alt=""></div>
    </div>
    <div class="row">
      <div class="col-md-8 user-template">
        <img class="user-avatar" src="https://picsum.photos/seed/123/100" alt="Avatar">
        <div class="user-name">
          <p class="h3">Username</p>
          <p class="h6 profile-tag">@usertag</p>
        </div>
      </div>
      <div class="col-md-4">
        <button class="btn btn-outline-warning follow-btn">
          <img class="follow-icon" src="../assets/icons/Follow.svg"> Follow</button>
      </div>
    </div>

  </div>
</div>
